@font-face {
  font-family: "iconfont"; /* Project id 5024321 */
  src: url('iconfont.woff2?t=1759046553458') format('woff2'),
       url('iconfont.woff?t=1759046553458') format('woff'),
       url('iconfont.ttf?t=1759046553458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

